@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kết quả đăng ký";
}

<h2>Kết quả đăng ký</h2>

<p>
    Cảm ơn bạn <strong>@ViewBag.MSSV</strong> - <strong>@ViewBag.FullName</strong> đã đăng ký chuyên ngành <strong>@ViewBag.Major</strong>.
</p>
<p>
    Số lượng sinh viên đã đăng ký ngành giống bạn là: <strong>@ViewBag.CountSameMajor</strong>
</p>

